__pycache__/
*.py[cod]
.venv/
.venv_micom/
.swift-module-cache/
.DS_Store
AGORA2_SBML.zip
Results/subject_level_fba/tables/08_allcohort_subject_reaction_flux_nonzero_long_high_fiber_pfba.csv
Results/subject_level_fba/tables/10_allcohort_high_fiber_reaction_pca_loadings.csv
Results/subject_level_fba/tables/11_direct_high_fiber_flux_pca_loadings.csv
Results/subject_level_fba/tables/PCA_all_cohort_MICOM_loadings.csv
Results/subject_level_fba/tables/09_allcohort_subject_reaction_flux_nonzero_long_high_fiber_no_pfba.csv
